{
    "log": {
        "formatters": {
            "f": {
                "format": "%(asctime)s %(name)-12s %(levelname)-8s %(message)s"
            }
        },
        "handlers": {
            "h": {
                "class": "logging.StreamHandler",
                "formatter": "f",
                "level": 10
            }
        },
        "root": {
            "handlers": [
                "h"
            ],
            "level": 40
        },
        "version": 1
    },
    "plugin": {
        "discovery": {
            "aws": "cloudselect.discovery.aws",
            "local": "cloudselect.discovery.local"
        },
        "group": {
            "simple": "cloudselect.group.simple"
        },
        "pathfinder": {
            "bastion": "cloudselect.pathfinder.bastion"
        },
        "report": {
            "json": "cloudselect.report.json",
            "json_pp": "cloudselect.report.json_pp",
            "yaml": "cloudselect.report.yaml"
        }
    }
}
