[MASTER]
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=dependency_injector.containers, dependency_injector.providers

[BASIC]
good-names=
    Container,
    db,
    e,
    f,
    i,
    ip,
    j,
    pp,
    rv,
    tb,
    ui,
# List of module names for which member attributes should not be checked
# (useful for modules/projects where namespaces are manipulated during runtime
# and thus existing member attributes cannot be deduced by static analysis. It
# supports qualified module names, as well as Unix pattern matching.
ignored-modules=dependency_injector.providers,dependency_injector.containers

[FORMAT]
# Follow the standard from Black
# https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
max-line-length=88

[TYPECHECK]
# https://github.com/PyCQA/pylint/issues/73
ignored-modules = distutils

[MESSAGES CONTROL]
disable=
    C0301,  # [black] Line too long
    C0330,  # [black] Wrong hanging indentation before block
    E0401,  # import-error
    R0903,  # too-few-public-methods
